
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4>Your Account</h4>
        <p></p>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-sm-8">
            <form>

              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First name">
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Last name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Company">
              </div>

              <div class="form-group">
                <input type="title" class="form-control" placeholder="Title">
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option>Job Role</option>
                  <option>Executive</option>
                  <option>Management</option>
                  <option>Development</option>
                  <option>Administrative</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" placeholder="Title">
                  <option>Country</option>
                  <option>Canada</option>
                  <option>USA</option>
                </select>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Address">
              </div>

              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="City">
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <select class="form-control" placeholder="Title">
                      <option>State</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="00000">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Phone">
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Save</button>

            </form>

          </div>

          <div class="col-sm-4 hidden-xs">

            <h3>Need Help?</h3>
            <p><a href="#">Contact Support</a></p>
            <hr>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>